@import './base.css';
@import "tailwindcss";

#app {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 100%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
